
#map {
    height: 500px;
}

.test {
    color: #000;
}

.awesome-marker {
    max-width: 25px;
    max-height: 35px;
}

#map-header {
    margin-top: 0;
    margin-bottom: 20px;
}

/*.awesome-marker i {
    font-size: 12px;
    margin-top: 8px;
}*/

@media (min-width: 768px) {

    #map-container {
        padding: 0;
        height: 100%;
        width: 90%;
        background-color: rgba(11,11,11,0.7);
        text-align: center;
        padding: 25px;
    }

    #map {
        height: 500px;
        max-width: 900px;
    }
}

@media (min-width: 992px) {

    .center {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #map-container {
        width: 80%;
    }
}





